*.exe
*.dll
*.class
*.jar
/bin/
/obj/
/out/
/New Folder/Clientes/target/
/JavaProyectos/Formulario3/target/
/JavaProyectos/Formulario4/target/
/JavaProyectos/Formulario5/target/
/JavaProyectos/Formulario6/target/
/JavaProyectos/Formulario7/target/
/JavaProyectos/Formulario8/target/
/JavaProyectos/Formulario9/target/
/JavaProyectos/Formulario10/target/
/JavaProyectos/Formulario11/target/
/JavaProyectos/Formulario12/target/
/JavaProyectos/Formulario13/target/
/JavaProyectos/ComunicacionFormularios/target/
/JavaProyectos/ComunicacionFormulario3/target/
/JavaProyectos/ComunicacionFormularios3/target/
/JavaProyectos/comunicacionFormularios4/target/
/JavaProyectos/ComunicacionFormulario6/target/
/JavaProyectos/Formulariocomunicacion7/target/
